<html layout:decorate="~{layout}">
<div layout:fragment="content">
  <h1 class="border-bottom py-2" th:text="${board.title}"></h1>
  <div th:text="${board.content}"></div>
  <div class="card" style="width: 18rem;" th:if="${!board.replyList.isEmpty()}">
      <ul class="list-group list-group-flush" >
          <div th:each="reply : ${board.replyList}">
              <li class="list-group-item" th:text="${reply.content}"></li>
              <a href="javascript:void(0);" th:data-uri="@{|/hello/reply/delete/${reply.id}|}"
                 class="delete btn btn-sm btn-outline-secondary" sec:authorize="isAuthenticated()"
                 th:if="${reply.author != null and #authentication.getPrincipal().getUsername() == reply.author.username}"
                 th:text="삭제">
              </a>
          </div>
      </ul>
  </div>
    <form th:action="@{|/hello/reply/create/${board.id}|}" th:object="${formReply}" method="post" class="my-3">
        <div class="alert alert-danger" role="alert" th:if="${#fields.hasAnyErrors()}">
            <div th:each="err : ${#fields.allErrors()}" th:text="${err}" />
        </div>
        <textarea sec:authorize="isAnonymous()" disabled th:field="*{content}" rows="10" class="form-control"></textarea>
        <textarea sec:authorize="isAuthenticated()" th:field="*{content}" rows="10" class="form-control"></textarea>
        <input type="submit" value="답글등록" class="btn btn-primary my-2">
    </form>
    <div class="my-3">
        <a th:href="@{|/hello/board/update/${board.id}|}" class="btn btn-sm btn-outline-secondary"
           sec:authorize="isAuthenticated()"
           th:if="${board.author != null and #authentication.getPrincipal().getUsername() == board.author.username}"
           th:text="수정"></a>
        <a href="javascript:void(0);" th:data-uri="@{|/hello/board/delete/${board.id}|}"
           class="delete btn btn-sm btn-outline-secondary" sec:authorize="isAuthenticated()"
           th:if="${board.author != null and #authentication.getPrincipal().getUsername() == board.author.username}"
           th:text="삭제"></a>
    </div>
</div>
<script layout:fragment="script" type='text/javascript'>
    const delete_elements = document.getElementsByClassName("delete");
    Array.from(delete_elements).forEach(function(element) {
        element.addEventListener('click', function() {
            if(confirm("정말로 삭제하시겠습니까?")) {
                location.href = this.dataset.uri;
            };
        });
    });
</script>
</html>